<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<form [formGroup]="editForm" (ngSubmit)="edit();">
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>Name must be at least 1 character long</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last name:</mat-label>
        <input matInput type="text" formControlName="lastName">
        <mat-error>Last name must be at least 1 character long</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>E-Mail:</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error>Email must be valid</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput [type]="showEditPassword ? 'text' : 'password' " formControlName="password">
        <button tabindex="-1" mat-icon-button matSuffix
            (click)="showEditPassword = !showEditPassword; $event.preventDefault();">
            <mat-icon>{{showEditPassword? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error>Passwords must be at least 8 characters long</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Update</button>
    <mat-error class="actionError" *ngIf="userExists">This email is taken!</mat-error>
</form>