<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<h1>Create Booking</h1>
<form [formGroup]="bookingForm">
    <mat-form-field>
        <mat-label>Date:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" [min]="min">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-error>Invalid date</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Days:</mat-label>
        <input matInput type="number" formControlName="days" min="1" max="14">
        <mat-error>Invalid number of days</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="createBooking();">Make Reservation</button>
</form>