.bar {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
}

span {
    display: flex;
    flex-grow: 1;
}

button {
    margin: 3px;
}

.block {
    position: static;
    visibility: hidden;
}

.mobile {
    display: none;
    width: 100%;
}

.desktop {
    display: flex;
    width: 100%;
}

.emailInfo {
    opacity: 0.5;
    margin: auto 1rem;
}

::ng-deep .userMenu p{
    text-align: center;
}

::ng-deep .userMenu button {
    display: block;
    width: 90%; 
    margin: 0.5rem auto 0 auto;
}

::ng-deep .navMenu button {
    display:block;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 600px /* 2000px */) {
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
}