h1 {
    padding-top: 1rem;
    text-align: center;
    color: white;
}

hr {
    background-color: #ffffff;
}

p {
    color: white;
    margin: 1rem auto;
    text-align: center;
    font-size: 1rem;
    width: 80vw;
    max-width: 1000px;
    text-align: justify;
    padding-bottom: 1rem;
}

.section {
    background-color: var(--primary);
}