<mat-sidenav-container class="mainPanel">
    <mat-sidenav mode="side" opened class="sidePanel">
        <button mat-flat-button color="primary" (click)="changePage('users');"><mat-icon>people</mat-icon> USERS</button>
        <button mat-flat-button color="primary" (click)="changePage('destinations');"><mat-icon>flight</mat-icon> DESTINATIONS</button>
        <button mat-flat-button color="primary" (click)="changePage('motds');"><mat-icon>message</mat-icon> MOTDS</button>
        <button mat-flat-button color="primary" (click)="changePage('faqs');"><mat-icon>question_answer</mat-icon> FAQS</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <br>
        <user-panel *ngIf="page === 'users'"></user-panel>
        <destination-panel *ngIf="page === 'destinations'" [data]="[]"></destination-panel>
        <faq-panel *ngIf="page === 'faqs'"></faq-panel>
        <motd-panel *ngIf="page === 'motds'"></motd-panel>
    </mat-sidenav-content>
</mat-sidenav-container>